# CSC6711 Project 2 - Exploring Rec Sys Data

* **Author**: Jacob Buysse

This notebook is an analysis of four datasets for recommendation systems (all files are located in the `datasets` subdirectory):
* MovieLens - `movielens_25m.feather` (Movies)
* Netflix Prize - `netflix_prize.feather` (Movies and TV Shows)
* Yahoo! Music R2 - `yahoo_r2_songs.subsampled.feather` (Songs)
* BoardGameGeek - `boardgamegeek.feather` (Board Games)

We will be using the following libraries:

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

Let us configure matplotlib for readable labels, high resolution, and automatic layout.

In [2]:
matplotlib.rc('axes', labelsize=16)
matplotlib.rc('figure', dpi=150, autolayout=True)

## MovieLens Analysis

Let us inspect the MoveLens dataset.

In [4]:
df1 = pd.read_feather('./datasets/movielens_25m.feather')
df1

          item_id  user_id  rating
0             296        1     5.0
1             306        1     3.5
2             307        1     5.0
3             665        1     5.0
4             899        1     3.5
...           ...      ...     ...
25000090    50872   162541     4.5
25000091    55768   162541     2.5
25000092    56176   162541     2.0
25000093    58559   162541     4.0
25000094    63876   162541     5.0

[24890583 rows x 3 columns]

In [6]:
df1.describe()

            item_id       user_id        rating
count  2.489058e+07  2.489058e+07  2.489058e+07
mean   2.083573e+04  8.120344e+04  3.536225e+00
std    3.828946e+04  4.680652e+04  1.059729e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    1.196000e+03  4.051000e+04  3.000000e+00
50%    2.918000e+03  8.094800e+04  3.500000e+00
75%    8.446000e+03  1.215920e+05  4.000000e+00
max    2.087370e+05  1.625410e+05  5.000000e+00

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24890583 entries, 0 to 25000094
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   item_id  int64
 1   user_id  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 759.6 MB

So we have 24.9M ratings by item_id/user_id.  Ratings are from 0.5 to 5 (so assuming a star rating system where you can't give a zero-rating and where every record has a rating - so no nulls).

Let us see how many distinct items and users we have.

In [10]:
print(f"{df1.item_id.nunique()} distinct item IDs")
print(f"{df1.user_id.nunique()} distinct user IDs")

24330 distinct item IDs
162541 distinct user IDs

So there are around 24k different movies and 162k different users which makes this a sparse rating matrix (otherwise there would be around 4M ratings).